@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.footer_section {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  font-family: "Arial", sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer_item {
  margin-bottom: 20px;
  text-align: center;
}

.footer-logo {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  font-family: "Dancing Script", cursive;
}

.footer-description {
  margin-top: 15px;
  font-size: 1rem;
  color: #bbb;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.footer_social a {
  color: #fff;
  font-size: 2rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer_social a:hover {
  color: #ff5733; /* You can use any hover color you prefer */
}

.footer_bottom {
  margin-top: 30px;
  text-align: center;
  font-size: 0.9rem;
  color: #bbb;
}

.footer_bottom a {
  color: #ff5733;
  text-decoration: none;
}

.footer_bottom a:hover {
  text-decoration: underline;
}

h4 {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
}