@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$main_color :#ffbe33;
$main_color_dark :#ffbe33;
$black_color: #242424;
$black_color_bg: rgb(48, 48, 48);
$main_font_family: 'Dancing Script',cursive;
$second_font_family: 'Open Sans', sans-serif;
